note: i've yet to finish preprocessing. i have no idea how to go about filling the missing values after finding the corelation between columns. i was able to do so in smaller and less dense data sets but not this. i'd appreciate some help.

In [ ]:
# defining pandas to work on csv file.
import pandas as pd

In [ ]:
# reading file to see the values
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data science/Final/Activation.csv')
df.head()

,CO_ID,USER_CREATED_BY,MSISDN,POS_MSISDN,DISTRIBUTER,Plan_Name,ACTIVE_DATE,DEACTIVE_DATE,Customer Tenure,Tenure Category,STATUS,Status Reason,SEGMENT1,SEGMENT2,Churn Flag,Customer Interaction Score,Loyalty Points,Data Usage Tier,Customer Segment Change Flag
0,31154967,BJNN1810,891476116,ORG3448,BL-NVTBTBXFRB BL-LB NVTBNBHFZB (LJNJTLFTT JNTF...,Basic Orange Plan,10/5/2023,NaN,88,NaN,Hard Suspended,Violation of terms,Prepaid,Residential,1,3,48,Low,TRUE
1,31719208,TTP.PNBR.BLTHBLHBNBF,891433210,NaN,FJFLDTBLFT,Governorates 10,9/28/2023,NaN,95,Medium-term,Active,NaN,Postpaid,PRO,1,7,65,High,TRUE
2,30566993,BJNN1810,882740023,NaN,FRBNDHJTF - TBFFXBZ 7TH DJRDLF,Family Orange Plan 10,9/19/2023,NaN,104,Medium-term,Active,NaN,Prepaid,PRO,1,6,65,Medium,TRUE
3,31654015,DPNB1876,529853159,NaN,FNTFRPRJTF TBLFT TTPDL,Orange 90,9/13/2023,10/22/2023,39,Short-term,Deactive,Service Quality,Postpaid,Corporate,1,9,73,NaN,TRUE
4,31237322,DPNB1876,883224490,NaN,FNTFRPRJTF TBLFT TTPDL,Orange 60,8/10/2023,8/28/2023,18,Short-term,Deactive,Lack of Usage,Postpaid,Corporate,1,5,10,NaN,TRUE

In [ ]:
dfnew = df(([df['STATUS'] == 'Deactive']) and ([df['SEGMENT1'] == 'Postpaid']))

TypeError: 'DataFrame' object is not callable

In [ ]:
dfnew = df[df['STATUS'] == 'Deactive']
dfnew = dfnew[dfnew['SEGMENT1'] == 'Postpaid']

In [ ]:
dfnew.head()

,CO_ID,USER_CREATED_BY,MSISDN,POS_MSISDN,DISTRIBUTER,Plan_Name,ACTIVE_DATE,DEACTIVE_DATE,Customer Tenure,Tenure Category,STATUS,Status Reason,SEGMENT1,SEGMENT2,Churn Flag,Customer Interaction Score,Loyalty Points,Data Usage Tier,Customer Segment Change Flag
3,31654015,DPNB1876,529853159,NaN,FNTFRPRJTF TBLFT TTPDL,Orange 90,9/13/2023,10/22/2023,39,Short-term,Deactive,Service Quality,Postpaid,Corporate,1,9,73,NaN,TRUE
4,31237322,DPNB1876,883224490,NaN,FNTFRPRJTF TBLFT TTPDL,Orange 60,8/10/2023,8/28/2023,18,Short-term,Deactive,Lack of Usage,Postpaid,Corporate,1,5,10,NaN,TRUE
10,31652214,DPNB1876,529848546,NaN,FNTFRPRJTF TBLFT TTPDL,Orange 90,9/12/2023,10/22/2023,40,Short-term,Deactive,Technical Difficulties,Postpaid,Corporate,1,5,87,NaN,TRUE
11,31804745,TBBZ1911,890687852,NaN,FNTFRPRJTF TBLFT TTPDL,Economy Plan,10/23/2023,11/12/2023,20,Short-term,Deactive,Moved,Postpaid,Corporate,1,3,84,NaN,TRUE
17,31655551,DPNB1876,529852031,NaN,FNTFRPRJTF TBLFT TTPDL,Orange 90,9/13/2023,10/22/2023,39,Short-term,Deactive,Billing Issues,Postpaid,Corporate,1,6,41,Medium,TRUE

In [ ]:
# how many nulls?
df.isnull().sum()

In [ ]:
# data types?
df.info()

In [ ]:
# are there any duplicates
df.duplicated().sum()

In [ ]:
# what are they
df[df.duplicated()]

In [ ]:
# Dropping Duplicates
df = df.drop_duplicates()
df.duplicated().sum()

In [ ]:
# Data Types
df.info()

In [ ]:
# I'm now gonna take a look at the values for cols with type object

In [ ]:
df['Churn Flag'].value_counts()

In [ ]:
df['USER_CREATED_BY'].value_counts()

In [ ]:
df['POS_MSISDN'].value_counts()

In [ ]:
df['DISTRIBUTER'].value_counts()

In [ ]:
df['Plan_Name'].value_counts()

In [ ]:
df['ACTIVE_DATE'].value_counts()

In [ ]:
# Change ACTIVE_DATE to date time
df['ACTIVE_DATE'] = pd.to_datetime(df['ACTIVE_DATE'])

# Error: why?

In [ ]:
df['DEACTIVE_DATE'].value_counts()

In [ ]:
df['Tenure Category'].value_counts()
  # short term & short
  # medium term & medium
  # long term & long

In [ ]:
# Fixing 'Tenure Category' inconsistency

# making sure there's no white spaces
df['Tenure Category'] = df['Tenure Category'].str.strip()

# creating a dict for replacement purposes
tenure_map = {'Short': 'Short-term',
                   'Medium': 'Medium-term',
                   'Long': 'Long-term'}

# replacing the inconsistent values
df['Tenure Category'] = df['Tenure Category'].replace(tenure_map)

# checking work: Result = Success
df['Tenure Category'].value_counts()

In [ ]:
df['STATUS'].value_counts()
  # issue found > with cases
  # (s)uspended & (S)uspended

In [ ]:
# fixing 'STATUS' inconsistency

# dict to replace
status_map = {'Hard suspended': 'Hard Suspended',
              'Soft suspended': 'Soft Suspended'}

# replacing
df['STATUS'] = df['STATUS'].replace(status_map)

# checking, Result = Success
df['STATUS'].value_counts()

In [ ]:
df['Status Reason'].value_counts()
  # nothing big, just inconsistency in cases (caps)

In [ ]:
# fixing 'Status Reason' inconsistency

# dict to replace
reason_map = {'Violation of terms': 'Violation of Terms',
              'Illegal usage': 'Illegal Usage',
              'Fraudulent activity': 'Fraudulent Activity',
              'Document verification': 'Document Verification',
              'Service upgrade': 'Service Upgrade',
              'Technical issue': 'Technical Issue',
              'Customer request': 'Customer Request'}

# replacing
df['Status Reason'] = df['Status Reason'].replace(reason_map)

# checking, Result = Successful
df['Status Reason'].value_counts()

In [ ]:
df['SEGMENT1'].value_counts()
  # why the extra numbers

In [ ]:
# fixing SEGMENT1 inconsistency

# using str replace to remove #s with space
df['SEGMENT1'] = df['SEGMENT1'].str.replace('100', '')
df['SEGMENT1'] = df['SEGMENT1'].str.replace('5', '')
df['SEGMENT1'] = df['SEGMENT1'].str.replace('300', '')
df['SEGMENT1'] = df['SEGMENT1'].str.replace('60', '')
df['SEGMENT1'] = df['SEGMENT1'].str.replace('400', '')

# checking, Result = Successful
df['SEGMENT1'].value_counts()

In [ ]:
df['SEGMENT2'].value_counts()

In [ ]:
df['Data Usage Tier'].value_counts()
  # case issues > (m)edium & (M)edium

In [ ]:
# fixing inconsistency in 'Data Usage Tier'

# using str capitalize
df['Data Usage Tier'] = df['Data Usage Tier'].str.capitalize()

# checking, Result = Successful
df['Data Usage Tier'].value_counts()

In [ ]:
df['Customer Segment Change Flag'].value_counts()
  # has TRUE & 1, FALSE & 0

In [ ]:
# fixing 'Customer Segment Change Flag' inconsistency

# dict to replace
flag_map = {1: 'TRUE',
            0: 'FALSE'}

# replacing
df['Customer Segment Change Flag'] = df['Customer Segment Change Flag'].replace(flag_map)

# checking, did not work > why?
df['Customer Segment Change Flag'].value_counts()

In [ ]:
# Checking dt, maybe not int?

df['Customer Segment Change Flag'].info()
  # dt = object, not int as suspected

In [ ]:
# dict to replace using STRINGS
flag_map = {'1': 'TRUE',
            '0': 'FALSE'}
  # dt = object, not int

# replacing
df['Customer Segment Change Flag'] = df['Customer Segment Change Flag'].replace(flag_map)

# checking, Result = Successful
df['Customer Segment Change Flag'].value_counts()

In [ ]:
# easier to type and see, consistent naming

df = df.rename(columns = {'Status Reason': 'STATUS_REASON'})
df = df.rename(columns = {'Customer Tenure': 'CUSTOMER_TENURE'})
df = df.rename(columns = {'Tenure Category': 'TENURE_CATEGORY'})
df = df.rename(columns = {'Plan_Name': 'PLAN_NAME'})
df = df.rename(columns = {'Churn Flag': 'CHURN_FLAG'})
df = df.rename(columns = {'Customer Interaction Score': 'CUSTOMER_INTERACTION_SCORE'})
df = df.rename(columns = {'Loyalty Points': 'LOYALTY_POINTS'})
df = df.rename(columns = {'Data Usage Tier': 'DATA_USAGE_TIER'})
df = df.rename(columns = {'Customer Segment Change Flag': 'CUSTOMER_SEGMENT_CHANGE_FLAG'})

df.info()

In [ ]:
# Checking duplicates after fixing data inconsistencies
df.duplicated().sum()

In [ ]:
# Dropping Duplicates
df = df.drop_duplicates()
df.duplicated().sum()

In [ ]:
# Creating copy to experiment
tst = df.copy()

# Dropping big null cols in tst for accuracte relation results
tst = tst.drop(['POS_MSISDN', 'DEACTIVE_DATE'], axis = 1)
tst.isnull().sum()

In [ ]:
# Why'd I drop those 2 cols first?
df.isnull().sum()

# POS_MSISDN null = ~ 20k
# DEACTIVE_DATE = ~20k as well

'''
Dropping ALL nulls at once causes data to disappear
  just from these 2 columns
'''

In [ ]:
tst = tst.dropna()
  # NOW i can drop the rest of the nulls
  # can still maintain lots of data
tst.isnull().sum()

In [ ]:
# using label encoder to convert nominal data
from sklearn.preprocessing import LabelEncoder

# initalizing label encoder
lbl = LabelEncoder()

# cols to encode
cols = ['USER_CREATED_BY', 'DISTRIBUTER', 'PLAN_NAME',
        'ACTIVE_DATE', 'TENURE_CATEGORY', 'STATUS',
        'STATUS_REASON', 'SEGMENT1', 'SEGMENT2', 'DATA_USAGE_TIER',
        'CUSTOMER_SEGMENT_CHANGE_FLAG']

# for loop for ease
for c in cols:
  tst[c] = lbl.fit_transform(tst[c])
tst

In [ ]:
# Libraries for heatmap
import seaborn as sns
import matplotlib.pyplot as plt

# Correlation
corr = tst.corr()

# Plotting
plt.figure(figsize = (20, 15))
sns.heatmap(corr, annot = True, linewidth = 2)
  # linewidth just breaks apart the squares.
plt.show()

In [ ]:
# Checking cols with no nulls
df.isnull().sum()

# Why? > Use as a reference when filling in og df

In [ ]:
# Highest relation with: DATA_USAGE_TIER:

''' 1. CHURN_FLAG = 0.94
2. STATUS = -0.82
3. CUSTOMER_TENURE = -0.79
4. SEGMENT1 = -0.74
5. SEGMENT2 = -0.62
6. TENURE_CATEGORY = 0.6 '''

In [ ]:
# Another copy, for filling purposes.
tst2 = df.copy()

# Dropping same big null cols.
tst2 = tst2.drop(['POS_MSISDN', 'DEACTIVE_DATE'], axis = 1)

In [ ]:
# Checking if copy went through as should have
tst2.isnull().sum()

In [ ]:
tst2.info()

In [ ]:
data_usage_groupby = tst2.groupby(['CHURN_FLAG', 'DATA_USAGE_TIER'])
data_usage_groupby['DATA_USAGE_TIER'].count()

# Observation: 1 > Medium, 0 > High OR Low

In [ ]:
data_usage_groupby = tst2.groupby(['STATUS', 'DATA_USAGE_TIER'])
data_usage_groupby['DATA_USAGE_TIER'].count()

# Observations
  # Active > High
  # Deactive > Medium
  # Hard Suspended > Low
  # Soft Suspended > Low

In [ ]:
data_usage_groupby = tst2.groupby(['SEGMENT1', 'DATA_USAGE_TIER'])
data_usage_groupby['DATA_USAGE_TIER'].count()

# Observation: if postpaid > High

In [ ]:
data_usage_groupby = tst2.groupby(['SEGMENT2', 'DATA_USAGE_TIER'])
data_usage_groupby['DATA_USAGE_TIER'].count()

# Observation
  # won't use SEGMENT2 to determine DATA_USAGE_TIER
  # the difference in #s is not as big as i'd like

In [ ]:
# looking at it altogether

data_usage_groupby = tst2.groupby(['CHURN_FLAG', 'STATUS', 'SEGMENT1', 'DATA_USAGE_TIER'])
data_usage_groupby['DATA_USAGE_TIER'].count()

In [ ]:
# Alternaive Method: Mapping
data_usage_fill = {'Active': 'High', 'Deactive': 'Medium', 'Low Suspended': 'Low', 'Hard Suspended': 'Low'}
  # STATUS appears to be the MOST accurate way to determine DATA_USAGE_TIER

# Filling
tst2['DATA_USAGE_TIER'] = tst2['DATA_USAGE_TIER'].fillna(tst2['STATUS'].map(data_usage_fill))
tst2['DATA_USAGE_TIER'].isnull().sum()

In [ ]:
tst2['DATA_USAGE_TIER'].value_counts()

In [ ]:
# dropping null for heatmap
tst2 = tst2.dropna()
tst2.isnull().sum()

In [ ]:
# Label Encoding - preparing for heatmap
for c in cols:
  tst2[c] = lbl.fit_transform(tst2[c])
tst2

In [ ]:
# Heatmap
import seaborn as sns
import matplotlib.pyplot as plt

corr = tst2.corr()
plt.figure(figsize = (20, 15))
sns.heatmap(corr, annot = True, linewidth = 2)
  # linewidth just breaks apart the squares.
plt.show()

In [ ]:
# Observation
'''
EVERYTHING relating to DATA_USAGE_RATE has remained the same basically!
  Conclusion: very successful. Moving on to next part.
'''

In [ ]:
df.isnull().sum()

In [ ]:
# Filling original tst before continuing
tst = df.copy()
tst = tst.drop(['DEACTIVE_DATE', 'POS_MSISDN'], axis = 1)
tst['DATA_USAGE_TIER'] = tst['DATA_USAGE_TIER'].fillna(tst['STATUS'].map(data_usage_fill))
tst['DATA_USAGE_TIER'].isnull().sum()

In [ ]:
tst['DATA_USAGE_TIER'].value_counts()

In [ ]:
tst.isnull().sum()

In [ ]:
tst.isnull().sum()

In [ ]:
tst = tst.dropna()

In [ ]:
# Label Encoding - preparing for heatmap
for c in cols:
  tst[c] = lbl.fit_transform(tst[c])
tst

In [ ]:
# NEXT: TENURE_CATEGORY

# Libraries for heatmap
import seaborn as sns
import matplotlib.pyplot as plt

# Correlation
corr = tst.corr()

# Plotting
plt.figure(figsize = (20, 15))
sns.heatmap(corr, annot = True, linewidth = 2)
  # linewidth just breaks apart the squares.
plt.show()

In [ ]:
df.isnull().sum()

In [ ]:
# Observation: Highest relation with TENURE_CATEGORY

''' 1. CUSTOMER_TENURE = ** 0.91 **
2. DATA_USAGE_TIER = 0.71
3. CHURN_FLAG = 0.67
4. STATUS = -0.66
5. ACTIVE_DATE = -0.61 '''

In [ ]:
tst3 = df.copy()
tst3 = tst3.drop(['DEACTIVE_DATE', 'POS_MSISDN'], axis = 1)
tst3['DATA_USAGE_TIER'] = tst3['DATA_USAGE_TIER'].fillna(tst['STATUS'].map(data_usage_fill))
tst3['DATA_USAGE_TIER'].isnull().sum()

In [ ]:
tst3['DATA_USAGE_TIER'].value_counts()

In [ ]:
tst3.isnull().sum()

In [ ]:
# From stackoverflow: to see all rows.
pd.set_option('display.max_rows', None)

In [ ]:
data_usage_groupby = tst3.groupby(['DATA_USAGE_TIER', 'TENURE_CATEGORY'])
data_usage_groupby['TENURE_CATEGORY'].count()

# Observation: Medium > Short-term

In [ ]:
data_usage_groupby = tst3.groupby(['CHURN_FLAG', 'TENURE_CATEGORY'])
data_usage_groupby['TENURE_CATEGORY'].count()

# Observation: 1 > Short_term

In [ ]:
data_usage_groupby = tst3.groupby(['CHURN_FLAG', 'CUSTOMER_TENURE','TENURE_CATEGORY'])
data_usage_groupby['TENURE_CATEGORY'].count()

In [ ]:
data_usage_groupby = tst3.groupby(['ACTIVE_DATE', 'TENURE_CATEGORY'])
data_usage_groupby['TENURE_CATEGORY'].count()

# Observation: 2023-08-01 to 2023-09-03 > Long-term
# 2023-09-4 to 2023-10-04 > Medium-term
# 2023-10-05 to 2023-10-31 > Short-term

In [ ]:
data_usage_groupby = tst3.groupby(['CUSTOMER_TENURE', 'TENURE_CATEGORY'])
data_usage_groupby['TENURE_CATEGORY'].count()

# Observation: 0 to 88 > Short-term
# 89 to 119 > Medium-term
# 120 to 153 > Long-term

In [ ]:
data_usage_groupby = tst3.groupby(['STATUS', 'TENURE_CATEGORY'])
data_usage_groupby['TENURE_CATEGORY'].count()

# Observation: Deactive > Short-term

In [ ]:
data_usage_groupby = tst3.groupby(['DATA_USAGE_TIER', 'TENURE_CATEGORY'])
data_usage_groupby['TENURE_CATEGORY'].count()

In [ ]:
data_usage_groupby = tst3.groupby(['CUSTOMER_TENURE', 'CHURN_FLAG', 'DATA_USAGE_TIER', 'ACTIVE_DATE', 'TENURE_CATEGORY'])
data_usage_groupby['TENURE_CATEGORY'].count()

In [ ]:
'''
Observation for above

CUSTOMER_TENURE strongest relation
1 to 89 = short term
90 - 120 = medium term
121 and up = long term
'''

In [ ]:
def tenure_from_date(date):
  if date == '2023-09-13':
    return 'Short-term'

def tenure_from_churn(churn):
  if churn == 1:
    return 'Short-term'

def tenure_from_data(data):
  if data == 'Deactive':
    return 'Short-term'

# Creating fn to apply for filling

def tenure_from_customer(cust):
  if 89 >= cust >= 1:
      return 'Short-term'
  elif 120 >= cust >= 90:
      return 'Medium-term'
  else:
    return 'Long-term'

In [ ]:
tst3['TENURE_CATEGORY'] = tst3['TENURE_CATEGORY'].fillna(tst3['ACTIVE_DATE'].apply(tenure_from_date))
tst3['TENURE_CATEGORY'].value_counts()
df['TENURE_CATEGORY'].value_counts()

In [ ]:
tst3['TENURE_CATEGORY'] = tst3['TENURE_CATEGORY'].fillna(tst3['CHURN_FLAG'].apply(tenure_from_churn))
tst3['TENURE_CATEGORY'].value_counts()

In [ ]:
tst3['TENURE_CATEGORY'] = tst3['TENURE_CATEGORY'].fillna(tst3['DATA_USAGE_TIER'].apply(tenure_from_data))
tst3['TENURE_CATEGORY'].value_counts()

In [ ]:
tst3['TENURE_CATEGORY'] = tst3['TENURE_CATEGORY'].fillna(tst3['CUSTOMER_TENURE'].apply(tenure_from_customer))
tst3['TENURE_CATEGORY'].value_counts()

In [ ]:
# Testing null values
tst3['TENURE_CATEGORY'].isnull().sum()

In [ ]:
tst3['TENURE_CATEGORY'].value_counts()

In [ ]:
# Returning it to default
pd.set_option('display.max_rows', 20)

# Making sure CUSTOMER_TENURE is as is
tst3['CUSTOMER_TENURE'].value_counts()

In [ ]:
# Testing all nulls
tst3.isnull().sum()

In [ ]:
# Dropping null values to create heatmap
tst3 = tst3.dropna()

In [ ]:
# Label Encoding - preparing for heatmap
for c in cols:
  tst3[c] = lbl.fit_transform(tst3[c])

# Libraries for heatmap
import seaborn as sns
import matplotlib.pyplot as plt

# Correlation
corr = tst3.corr()

# Plotting
plt.figure(figsize = (20, 15))
sns.heatmap(corr, annot = True, linewidth = 2)
  # linewidth just breaks apart the squares.
plt.show()

In [ ]:
# filling into tst
tst = df.copy()
tst = tst.drop(['POS_MSISDN', 'DEACTIVE_DATE'], axis = 1)

tst['DATA_USAGE_TIER'] = tst['DATA_USAGE_TIER'].fillna(tst['STATUS'].map(data_usage_fill))
tst['DATA_USAGE_TIER'].isnull().sum()

tst['TENURE_CATEGORY'] = tst['TENURE_CATEGORY'].fillna(tst['ACTIVE_DATE'].apply(tenure_from_date))
tst['TENURE_CATEGORY'] = tst['TENURE_CATEGORY'].fillna(tst['CHURN_FLAG'].apply(tenure_from_churn))
tst['TENURE_CATEGORY'] = tst['TENURE_CATEGORY'].fillna(tst['DATA_USAGE_TIER'].apply(tenure_from_data))
tst['TENURE_CATEGORY'] = tst['TENURE_CATEGORY'].fillna(tst['CUSTOMER_TENURE'].apply(tenure_from_customer))

In [ ]:
tst4 = tst.copy()

In [ ]:
tst = tst.dropna()
tst.isnull().sum()

In [ ]:
# NEXT: USER_CREATED_BY
for c in cols:
  tst[c] = lbl.fit_transform(tst[c])
tst

# Libraries for heatmap
import seaborn as sns
import matplotlib.pyplot as plt

# Correlation
corr = tst.corr()

# Plotting
plt.figure(figsize = (20, 15))
sns.heatmap(corr, annot = True, linewidth = 2)
  # linewidth just breaks apart the squares.
plt.show()

In [ ]:
tst4.isnull().sum()

In [ ]:
# SEGMENT1 = -0.5
# CUSTOMER_TENURE, TENURE_CATEGORY = -0.39
# CHURN_FLAG = 0.38
# DATA_USAGE_TIER = 0.41

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
user_groupby = tst4.groupby(['SEGMENT1', 'USER_CREATED_BY'])
user_groupby['USER_CREATED_BY'].count()

# Observation: Prepaid > BJNN1810

In [ ]:
user_groupby = tst4.groupby(['DATA_USAGE_TIER', 'USER_CREATED_BY'])
user_groupby['USER_CREATED_BY'].count()

# Observation: Low > BJNN1810

In [ ]:
user_groupby = tst4.groupby(['CHURN_FLAG', 'USER_CREATED_BY'])
user_groupby['USER_CREATED_BY'].count()

# Observation: 0 > BJNN1810

In [ ]:
user_groupby = tst4.groupby(['CUSTOMER_TENURE', 'USER_CREATED_BY'])
user_groupby['USER_CREATED_BY'].count()

# Observation: 0 > BJNN1810

In [ ]:
tst4.isnull().sum()

In [ ]:
import numpy as np
null_user_customer = tst4.loc[tst4['USER_CREATED_BY'].isnull(), 'CUSTOMER_TENURE'].unique()
null_user_customer = np.sort(null_user_customer)
null_user_customer

In [ ]:
customer_filtered = tst4[tst4['CUSTOMER_TENURE'].isin(null_user_customer)].groupby(['CUSTOMER_TENURE', 'USER_CREATED_BY'])
customer_filtered['USER_CREATED_BY'].count()

# Observations on Notepad

In [ ]:
user_groupby = tst4.groupby(['TENURE_CATEGORY', 'USER_CREATED_BY'])
user_groupby['USER_CREATED_BY'].count()

# same as above, = 1

In [ ]:
user_from_segment = {'Postpaid': 'BJNN1810'}
user_from_data = {'Low': 'BJNN1810'}
user_from_churn = {0: 'BJNN1810'}

In [ ]:
def user_from_tenure(tenure):
  if tenure == 0:
    return 'DDDB1714'
  elif 1 <= tenure <= 3:
    return 'RBTB1909'
  elif tenure == 5:
    return 'TTP.PH.BZB.BLZBHHB'
  elif tenure == 20:
    return 'TBBZ1911'
  elif tenure == 63 or tenure == 69:
    return 'DPNB1876'
  elif 64 <= tenure <= 68 or 70 <= tenure <= 117:
    return 'BJNN1810'
  elif 119 <= tenure <= 120:
    return 'TBBZ1911'
  elif 123 <= tenure <= 153:
    return 'BJNN1810'

In [ ]:
tst4['USER_CREATED_BY'] = tst4['USER_CREATED_BY'].fillna(tst4['DATA_USAGE_TIER'].map(user_from_data))
tst4['USER_CREATED_BY'].value_counts()

In [ ]:
tst4['USER_CREATED_BY'] = tst4['USER_CREATED_BY'].fillna(tst4['CUSTOMER_TENURE'].apply(user_from_tenure))
tst4['USER_CREATED_BY'].value_counts()

In [ ]:
tst4['USER_CREATED_BY'] = tst4['USER_CREATED_BY'].fillna(tst4['SEGMENT1'].map(user_from_segment))
tst4['USER_CREATED_BY'].value_counts()

In [ ]:
tst4['USER_CREATED_BY'] = tst4['USER_CREATED_BY'].fillna(tst4['CHURN_FLAG'].map(user_from_churn))
tst4['USER_CREATED_BY'].value_counts()

In [ ]:
tst4['USER_CREATED_BY'].isnull().sum()

In [ ]:
tst4['USER_CREATED_BY'].value_counts()

In [ ]:
tst4.isnull().sum()

In [ ]:
tst4 = tst4.dropna()

In [ ]:
# NEXT: USER_CREATED_BY
for c in cols:
  tst4[c] = lbl.fit_transform(tst4[c])

# Libraries for heatmap
import seaborn as sns
import matplotlib.pyplot as plt

# Correlation
corr = tst4.corr()

# Plotting
plt.figure(figsize = (20, 15))
sns.heatmap(corr, annot = True, linewidth = 2)
  # linewidth just breaks apart the squares.
plt.show()

In [ ]:
# filling into tst
tst = df.copy()
tst = tst.drop(['POS_MSISDN', 'DEACTIVE_DATE'], axis = 1)

tst['DATA_USAGE_TIER'] = tst['DATA_USAGE_TIER'].fillna(tst['STATUS'].map(data_usage_fill))
tst['DATA_USAGE_TIER'].isnull().sum()

tst['TENURE_CATEGORY'] = tst['TENURE_CATEGORY'].fillna(tst['ACTIVE_DATE'].apply(tenure_from_date))
tst['TENURE_CATEGORY'] = tst['TENURE_CATEGORY'].fillna(tst['CHURN_FLAG'].apply(tenure_from_churn))
tst['TENURE_CATEGORY'] = tst['TENURE_CATEGORY'].fillna(tst['DATA_USAGE_TIER'].apply(tenure_from_data))
tst['TENURE_CATEGORY'] = tst['TENURE_CATEGORY'].fillna(tst['CUSTOMER_TENURE'].apply(tenure_from_customer))

tst['USER_CREATED_BY'] = tst['USER_CREATED_BY'].fillna(tst['DATA_USAGE_TIER'].map(user_from_data))
tst['USER_CREATED_BY'] = tst['USER_CREATED_BY'].fillna(tst['CUSTOMER_TENURE'].apply(user_from_tenure))
tst['USER_CREATED_BY'] = tst['USER_CREATED_BY'].fillna(tst['SEGMENT1'].map(user_from_segment))
tst['USER_CREATED_BY'] = tst['USER_CREATED_BY'].fillna(tst['CHURN_FLAG'].map(user_from_churn))

In [ ]:
tst.isnull().sum()

In [ ]:
tst5 = tst.copy()

In [ ]:
# SOLVING STATUS REASON
''' USER_CREATED_BY = -0.15
CUSTOMER_TENURE, TENURE_CATEGORY, STATUS = 0.13
SEGMENT1 = 0.11
SEGMENT2 = 0.1
CHURN_FLAG = -0.15
DATA_USAGE_TIER = -0.16 '''

In [ ]:
tst5['USER_CREATED_BY'].value_counts()

In [ ]:
status_reason_groupby = tst5.groupby(['USER_CREATED_BY', 'STATUS_REASON'])
status_reason_groupby['STATUS_REASON'].count()

# same as above, = 1

In [ ]:
null_status_user = tst5.loc[tst5['STATUS_REASON'].isnull(), 'USER_CREATED_BY'].unique()
null_status_user = np.sort(null_status_user)
null_status_user

In [ ]:
tst5['STATUS_REASON'].value_counts()

In [ ]:
user_filtered = tst5[tst5['USER_CREATED_BY'].isin(null_status_user)].groupby(['USER_CREATED_BY', 'STATUS_REASON'])
user_filtered['STATUS_REASON'].count()

# Disocveries in Notepad

In [ ]:
'''
DPNB1876               Better Offer Elsewhere     361
                       Billing Issues             347
                       Contract Ended             351
                       Lack of Usage              363
                       Moved                      342
                       Network Issues             389
                       Personal Reasons           348
                       Price                      359
                       Service Quality            337
                       Technical Difficulties     331

BJNN1810               Customer Request          1160
                       Document Verification     1199
                       Fraudulent Activity       1385
                       Illegal Usage             1379
                       Non-payment               1364
                       Service Upgrade           1204
                       Technical Issue           1200
                       Violation of Terms        1398
'''

In [ ]:
status_reason_groupby = tst5.groupby(['CUSTOMER_TENURE', 'STATUS_REASON'])
status_reason_groupby['STATUS_REASON'].count()

# nothing stood out, scrapped.

In [ ]:
status_reason_groupby = tst5.groupby(['TENURE_CATEGORY', 'STATUS_REASON'])
status_reason_groupby['STATUS_REASON'].count()

# numbers too close, scrapped.

In [ ]:
status_reason_groupby = tst5.groupby(['SEGMENT1', 'STATUS_REASON'])
status_reason_groupby['STATUS_REASON'].count()

In [ ]:
'''
Prepaid   Customer Request          1220
          Document Verification     1246
          Fraudulent Activity       1411
          Illegal Usage             1412
          Non-payment               1396
          Service Upgrade           1252
          Technical Issue           1239
          Violation of Terms        1433
'''

In [ ]:
status_reason_groupby = tst5.groupby(['SEGMENT2', 'STATUS_REASON'])
status_reason_groupby['STATUS_REASON'].count()

In [ ]:
'''
Residential
             Customer Request          1004
             Document Verification     1042
             Fraudulent Activity       1375
             Illegal Usage             1355
             Non-payment               1372
             Service Upgrade           1053
             Technical Issue           1026
             Violation of Terms        1404
'''

# these stood out, others too close.

In [ ]:
status_reason_groupby = tst5.groupby(['CHURN_FLAG', 'STATUS_REASON'])
status_reason_groupby['STATUS_REASON'].count()

In [ ]:
'''
1 >
  Better Offer, Billing Issue, Contract Ended,
  Lack of Usage, Moved, Network Issues,
  Personal Reasons, Price, Service Quality,
  Technical Difficulties,


0 >
  Customer Request, Document, Fraudulent, Illegal Usage,
  Non Payment,
  Service Upgrade,
  Technical Issue, Violation of Terms
'''

In [ ]:
status_reason_groupby = tst5.groupby(['DATA_USAGE_TIER', 'STATUS_REASON'])
status_reason_groupby['STATUS_REASON'].count()

In [ ]:
'''
Low >
  Customer Request, Document, Fraudulent, Illegal, Non Payment,
  Service Upgrade, Technical Issue, Violation

Medium >
  Better Offer, Billing, Contract Ended, Lack, Moved,
  Netowork Issue, Personal Reasons, Price
  Service Quality, Technical Difficulties
'''

In [ ]:
status_reason_groupby = tst5.groupby(['USER_CREATED_BY', 'CUSTOMER_TENURE',
                                      'TENURE_CATEGORY', 'SEGMENT1',
                                      'SEGMENT2', 'CHURN_FLAG',
                                      'DATA_USAGE_TIER', 'STATUS_REASON'])
status_reason_groupby['STATUS_REASON'].count()

In [ ]:
tst5['STATUS_REASON'].value_counts()

In [ ]:
tst5.info()

In [ ]:
status_reason_groupby = tst5.groupby(['USER_CREATED_BY', 'SEGMENT1',
                                      'SEGMENT2', 'CHURN_FLAG',
                                      'DATA_USAGE_TIER',
                                      'TENURE_CATEGORY', 'CUSTOMER_TENURE', 'ACTIVE_DATE',
                                      'STATUS_REASON'])

filtered_status = status_reason_groupby.filter(lambda s: 'Violation of Terms' in s['STATUS_REASON'].values)
status_reason_groupby = filtered_status.groupby(['USER_CREATED_BY', 'SEGMENT1',
                                      'SEGMENT2', 'CHURN_FLAG',
                                      'DATA_USAGE_TIER',
                                      'TENURE_CATEGORY', 'CUSTOMER_TENURE', 'ACTIVE_DATE',
                                      'STATUS_REASON'])
status_reason_groupby['STATUS_REASON'].count()

# BJNN1810 > Prepaid > Resedential > 0 > Low > Violation of Terms

In [ ]:
status_reason_groupby = tst5.groupby(['USER_CREATED_BY', 'SEGMENT1',
                                      'SEGMENT2', 'CHURN_FLAG',
                                      'DATA_USAGE_TIER',
                                      'TENURE_CATEGORY', 'CUSTOMER_TENURE',
                                      'STATUS_REASON'])

'''filtered_status = status_reason_groupby.filter(lambda s: 'Fraudulent Activity' in s['STATUS_REASON'].values)
status_reason_groupby = filtered_status.groupby(['USER_CREATED_BY', 'SEGMENT1',
                                      'SEGMENT2', 'CHURN_FLAG',
                                      'DATA_USAGE_TIER',
                                      'TENURE_CATEGORY', 'CUSTOMER_TENURE',
                                      'STATUS_REASON'])'''
status_reason_groupby['STATUS_REASON'].count()

# BJNN1810 > Prepaid > Resedential > 0 > Low > Violation of Terms

In [ ]:
status_reason_groupby = tst5.groupby(['USER_CREATED_BY', 'SEGMENT1',
                                      'SEGMENT2', 'CHURN_FLAG',
                                      'CUSTOMER_TENURE', 'TENURE_CATEGORY',
                                      'DATA_USAGE_TIER', 'STATUS_REASON'])

#filtered_status = status_reason_groupby.filter(lambda s: 'Illegal Usage' in s['STATUS_REASON'].values)
'''status_reason_groupby = filtered_status.groupby(['USER_CREATED_BY', 'SEGMENT1',
                                      'SEGMENT2', 'CHURN_FLAG',
                                      'CUSTOMER_TENURE', 'TENURE_CATEGORY',
                                      'DATA_USAGE_TIER', 'STATUS_REASON'])'''
status_reason_groupby['STATUS_REASON'].count()

In [ ]:
tst5.isnull().sum()

In [ ]:
tst5.info()

In [ ]:
status_reason_groupby = tst5.groupby(['USER_CREATED_BY', 'STATUS_REASON'])
status_reason_groupby['STATUS_REASON'].count().sort_values()

In [ ]:
status_reason_groupby = tst5.groupby(['DISTRIBUTER', 'STATUS_REASON'])
status_reason_groupby['STATUS_REASON'].count().sort_values()

In [ ]:
status_reason_groupby = tst5.groupby(['DISTRIBUTER', 'USER_CREATED_BY', 'DATA_USAGE_TIER', 'CHURN_FLAG', 'LOYALTY_POINTS',
                                      'SEGMENT1', 'SEGMENT2', 'CUSTOMER_TENURE', 'TENURE_CATEGORY', 'STATUS_REASON'])
status_reason_groupby['STATUS_REASON'].count().sort_values()

In [ ]:
status_reason_groupby = tst5.groupby(['USER_CREATED_BY', 'STATUS_REASON'])
status_reason_groupby['USER_CREATED_BY'].count()

In [ ]:
filtered_user_reason = tst5[(tst5['STATUS_REASON'] == 'Violation of Terms') & (tst5['USER_CREATED_BY'] == 'BJNN1810')]
filtered_user_reason['CHURN_FLAG'].value_counts()

In [ ]:
filtered_user_reason = tst5[(tst5['STATUS_REASON'] == 'Customer Request') & (tst5['USER_CREATED_BY'] == 'BJNN1810')]
filtered_user_reason['CHURN_FLAG'].value_counts()

In [ ]:
filtered_user_reason = tst5[(tst5['CHURN_FLAG'] == 0) & (tst5['USER_CREATED_BY'] == 'BJNN1810')]
filtered_user_reason['STATUS_REASON'].value_counts()

In [ ]:
filtered_user_reason = tst5[(tst5['STATUS_REASON'].notnull()) & (tst5['USER_CREATED_BY'] == 'BJNN1810')]
filtered_user_reason['CHURN_FLAG'].value_counts()

In [ ]:
'''
DPNB1876               Better Offer Elsewhere     361
                       Billing Issues             347
                       Contract Ended             351
                       Lack of Usage              363
                       Moved                      342
                       Network Issues             389
                       Personal Reasons           348
                       Price                      359
                       Service Quality            337
                       Technical Difficulties     331

BJNN1810               Customer Request          1160
                       Document Verification     1199
                       Fraudulent Activity       1385
                       Illegal Usage             1379
                       Non-payment               1364
                       Service Upgrade           1204
                       Technical Issue           1200
                       Violation of Terms        1398
'''

In [ ]:
''' reason_from_user = {'BJNN1810': 'Violation of Terms',
                    'DPNB1876': 'Network Issues'}

tst5['STATUS_REASON'] = tst5['STATUS_REASON'].fillna(tst5['USER_CREATED_BY'].map(reason_from_user))
tst5['STATUS_REASON'].isnull().sum() '''

In [ ]:
filtered_user_reason = tst5[(tst5['STATUS_REASON'].notnull()) & ((tst5['USER_CREATED_BY'] != 'DPNB1876') & (tst5['USER_CREATED_BY'] != 'BJNN1810'))]
filtered_user_reason['STATUS_REASON'].value_counts()

In [ ]:
filtered_user_reason = tst5[(tst5['STATUS_REASON'].notnull()) & ((tst5['USER_CREATED_BY'] != 'DPNB1876') & (tst5['USER_CREATED_BY'] != 'BJNN1810'))]
filtered_user_reason['STATUS_REASON'].value_counts()

In [ ]:
# I'll just use random choice from this
'''
DPNB1876               Better Offer Elsewhere     361
                       Billing Issues             347
                       Contract Ended             351
                       Lack of Usage              363
                       Moved                      342
                       Network Issues             389
                       Personal Reasons           348
                       Price                      359
                       Service Quality            337
                       Technical Difficulties     331

BJNN1810               Customer Request          1160
                       Document Verification     1199
                       Fraudulent Activity       1385
                       Illegal Usage             1379
                       Non-payment               1364
                       Service Upgrade           1204
                       Technical Issue           1200
                       Violation of Terms        1398

RBTB1909               Better Offer Elsewhere      31
                       Billing Issues              23
                       Contract Ended              31
                       Lack of Usage               32
                       Moved                       22
                       Network Issues              39
                       Personal Reasons            25
                       Price                       32
                       Service Quality             25
                       Technical Difficulties      32

TTP.PNBR.BLTHBLHBNBF
                       Billing Issues              15
                       Contract Ended              10
                       Lack of Usage                7
                       Moved                        8
                       Network Issues              12
                       Personal Reasons            16
                       Price                       10
                       Service Quality             10
                       Technical Difficulties      12
'''

In [ ]:
import random as rd

def reason_from_user(user):
  if user == 'DPNB1876':
    return rd.choice(['Better Offer Elsewhere',
                      'Billing Issues',
                      'Contract Ended',
                      'Lack of Usage',
                      'Moved',
                      'Network Issues',
                      'Personal Reasons',
                      'Price',
                      'Service Quality',
                      'Technical Difficulties'])

  elif user == 'BJNN1810':
    return rd.choice(['Customer Request',
                      'Document Verification',
                      'Fraudulent Activity',
                      'Illegal Usage',
                      'Non-payment',
                      'Service Upgrade',
                      'Technical Issue',
                      'Violation of Terms'])

  elif user == 'RBTB1909':
    return rd.choice(['Better Offer Elsewhere',
                      'Billing Issues',
                      'Contract Ended',
                      'Lack of Usage',
                      'Moved',
                      'Network Issues',
                      'Personal Reasons',
                      'Price',
                      'Service Quality',
                      'Technical Difficulties'])

  elif user == 'TTP.PNBR.BLTHBLHBNBF':
    return rd.choice(['Billing Issues',
                      'Contract Ended',
                      'Lack of Usage',
                      'Moved',
                      'Network Issues',
                      'Personal Reasons',
                      'Price',
                      'Service Quality',
                      'Technical Difficulties'])

  else:
    status_values = tst5['STATUS_REASON'].unique()
    return rd.choice(status_values)

In [ ]:
tst5['STATUS_REASON'] = tst5['STATUS_REASON'].fillna(tst5['USER_CREATED_BY'].apply(reason_from_user))
tst5['STATUS_REASON'].isnull().sum()
  # i had to run it ~ 4 times till all the nulls were gone.

In [ ]:
tst5['STATUS_REASON'] = tst5['STATUS_REASON'].fillna(tst5['USER_CREATED_BY'].apply(reason_from_user))
tst5['STATUS_REASON'].isnull().sum()
  # run 2.

In [ ]:
tst5['STATUS_REASON'] = tst5['STATUS_REASON'].fillna(tst5['USER_CREATED_BY'].apply(reason_from_user))
tst5['STATUS_REASON'].isnull().sum()
  # run 3.

In [ ]:
tst5['STATUS_REASON'] = tst5['STATUS_REASON'].fillna(tst5['USER_CREATED_BY'].apply(reason_from_user))
tst5['STATUS_REASON'].isnull().sum()
  # run 4.

In [ ]:
tst5['STATUS_REASON'] = tst5['STATUS_REASON'].fillna(tst5['USER_CREATED_BY'].apply(reason_from_user))
tst5['STATUS_REASON'].isnull().sum()
  # run 5 for extra measures in case.

In [ ]:
tst5['STATUS_REASON'].value_counts()
  # making sure the values are correct

In [ ]:
tst5.isnull().sum()

In [ ]:
# Label Encoding - preparing for heatmap
tst5 = tst5.dropna()

for c in cols:
  tst5[c] = lbl.fit_transform(tst5[c])

# Libraries for heatmap
import seaborn as sns
import matplotlib.pyplot as plt

# Correlation
corr = tst5.corr()

# Plotting
plt.figure(figsize = (20, 15))
sns.heatmap(corr, annot = True, linewidth = 2)
  # linewidth just breaks apart the squares.
plt.show()

In [ ]:
tst.isnull().sum()

In [ ]:
import random as rd

def reason_from_user(user):
  if user == 'DPNB1876':
    return rd.choice(['Better Offer Elsewhere',
                      'Billing Issues',
                      'Contract Ended',
                      'Lack of Usage',
                      'Moved',
                      'Network Issues',
                      'Personal Reasons',
                      'Price',
                      'Service Quality',
                      'Technical Difficulties'])

  elif user == 'BJNN1810':
    return rd.choice(['Customer Request',
                      'Document Verification',
                      'Fraudulent Activity',
                      'Illegal Usage',
                      'Non-payment',
                      'Service Upgrade',
                      'Technical Issue',
                      'Violation of Terms'])

  elif user == 'RBTB1909':
    return rd.choice(['Better Offer Elsewhere',
                      'Billing Issues',
                      'Contract Ended',
                      'Lack of Usage',
                      'Moved',
                      'Network Issues',
                      'Personal Reasons',
                      'Price',
                      'Service Quality',
                      'Technical Difficulties'])

  elif user == 'TTP.PNBR.BLTHBLHBNBF':
    return rd.choice(['Billing Issues',
                      'Contract Ended',
                      'Lack of Usage',
                      'Moved',
                      'Network Issues',
                      'Personal Reasons',
                      'Price',
                      'Service Quality',
                      'Technical Difficulties'])

  else:
    status_values = tst['STATUS_REASON'].unique()
    return rd.choice(status_values)

In [ ]:
# filling tst.
tst['STATUS_REASON'] = tst['STATUS_REASON'].fillna(tst['USER_CREATED_BY'].apply(reason_from_user))
tst['STATUS_REASON'].isnull().sum()

In [ ]:
tst['STATUS_REASON'] = tst['STATUS_REASON'].fillna(tst['USER_CREATED_BY'].apply(reason_from_user))
tst['STATUS_REASON'].isnull().sum()
  # again.

In [ ]:
tst['STATUS_REASON'] = tst['STATUS_REASON'].fillna(tst['USER_CREATED_BY'].apply(reason_from_user))
tst['STATUS_REASON'].isnull().sum()

In [ ]:
tst['STATUS_REASON'].value_counts()

In [ ]:
tst.isnull().sum()

In [ ]:
tst6 = tst.copy()

In [ ]:
tst6['DISTRIBUTER'].info()

In [ ]:
# DISTRIBUTER

# MSISDN = 0.2
# ACTIVE_DATE = 0.12
# SEGMENT 1 = 0.12
# SEGMENT2 = 0.15

In [ ]:
distributer_groupby = tst6.groupby(['ACTIVE_DATE', 'DISTRIBUTER'])
distributer_groupby['DISTRIBUTER'].count()

In [ ]:
null_dist_date = tst6.loc[tst6['DISTRIBUTER'].isnull(), 'ACTIVE_DATE'].unique()
null_dist_date = np.sort(null_dist_date)
null_dist_date

In [ ]:
dist_filtered = tst6[tst6['ACTIVE_DATE'].isin(null_dist_date)].groupby(['ACTIVE_DATE', 'DISTRIBUTER'])
dist_filtered['DISTRIBUTER'].count()

# 2023-10-26    JNTFRNBL DFPBRTNFNTT                                        1687

# 2023-09-13    FNTFRPRJTF TBLFT TTPDL                                      2476

In [ ]:
null_dist_seg1 = tst6.loc[tst6['DISTRIBUTER'].isnull(), 'SEGMENT1'].unique()
null_dist_seg1 = np.sort(null_dist_seg1)
seg1_filtered = tst6[tst6['SEGMENT1'].isin(null_dist_seg1)].groupby(['SEGMENT1', 'DISTRIBUTER'])
seg1_filtered['DISTRIBUTER'].count()

'''
Postpaid: FNTFRPRJTF TBLFT TTPDL (5527)

Prepaid: BL-NVTBTBXFRB BL-LB NVTBNBHFZB (LJNJTLFTT JNTFRNBTJPNBL) (1957),
         BLBBTHFR FPR TRBDF BND DJTTRJBVTJPN (2626), HPLDFN NBRL (2500), JNTFRNBL DFPBRTNFNTT (JNTFRNBL DFPBRTNFNTT)
'''

In [ ]:
null_dist_seg2 = tst6.loc[tst6['DISTRIBUTER'].isnull(), 'SEGMENT2'].unique()
null_dist_seg2 = np.sort(null_dist_seg2)
seg2_filtered = tst6[tst6['SEGMENT2'].isin(null_dist_seg2)].groupby(['SEGMENT2', 'DISTRIBUTER'])
seg2_filtered['DISTRIBUTER'].count()

'''
Corporate:    FNTFRPRJTF TBLFT TTPDL                                      6227

Residential:  HPLDFN NBRL                                                 2500
              BLBBTHFR FPR TRBDF BND DJTTRJBVTJPN                         2624
'''

In [ ]:
null_dist_msisdn = tst6.loc[tst6['DISTRIBUTER'].isnull(), 'MSISDN'].unique()
null_dist_msisdn = np.sort(null_dist_msisdn)
msisdn_filtered = tst6[tst6['MSISDN'].isin(null_dist_msisdn)].groupby(['MSISDN', 'DISTRIBUTER'])
msisdn_filtered['DISTRIBUTER'].count()

In [ ]:
null_dist_msisdn

In [ ]:
tst6['DISTRIBUTER'].info()

In [ ]:
def dist_from_date(date):
  if date == '2023-10-26':
    return 'JNTFRNBL DFPBRTNFNTT'
  elif date == '2023-09-13':
    return 'FNTFRPRJTF TBLFT TTPDL'

def dist_from_seg1(seg1):
  if seg1 == 'Postpaid':
    return 'FNTFRPRJTF TBLFT TTPDL'
  elif seg1 == 'Prepaid':
    return rd.choice(['BL-NVTBTBXFRB BL-LB NVTBNBHFZB (LJNJTLFTT JNTFRNBTJPNBL)',
                      'BLBBTHFR FPR TRBDF BND DJTTRJBVTJPN',
                      'HPLDFN NBRL',
                      'JNTFRNBL DFPBRTNFNTT'])

def dist_from_seg2(seg2):
  if seg2 == 'Corporate':
    return 'FNTFRPRJTF TBLFT TTPDL'
  elif seg2 == 'Residential':
    return rd.choice(['HPLDFN NBRL',
                      'BLBBTHFR FPR TRBDF BND DJTTRJBVTJPN'])

In [ ]:
tst6['DISTRIBUTER'] = tst6['DISTRIBUTER'].fillna(tst6['ACTIVE_DATE'].apply(dist_from_date))
tst6['DISTRIBUTER'].isnull().sum()

In [ ]:
tst6['DISTRIBUTER'].info()

In [ ]:
tst6['DISTRIBUTER'] = tst6['DISTRIBUTER'].fillna(tst6['SEGMENT2'].apply(dist_from_seg2))
tst6['DISTRIBUTER'].isnull().sum()

In [ ]:
tst6['DISTRIBUTER'].info()

In [ ]:
tst6['DISTRIBUTER'] = tst6['DISTRIBUTER'].fillna(tst6['SEGMENT1'].apply(dist_from_seg1))
tst6['DISTRIBUTER'].isnull().sum()

In [ ]:
tst6['DISTRIBUTER'].info()

In [ ]:
tst6['DISTRIBUTER'].value_counts()

In [ ]:
# Label Encoding - preparing for heatmap
tst6 = tst6.dropna()

for c in cols:
  if tst6[c].dtype == 'object':
    tst6[c] = lbl.fit_transform(tst6[c])

# Libraries for heatmap
import seaborn as sns
import matplotlib.pyplot as plt

# Correlation
corr = tst6.corr()

# Plotting
plt.figure(figsize = (20, 15))
sns.heatmap(corr, annot = True, linewidth = 2)
  # linewidth just breaks apart the squares.
plt.show()

In [ ]:
tst = df.copy()
tst.isnull().sum()

In [ ]:
tst['DATA_USAGE_TIER'] = tst['DATA_USAGE_TIER'].fillna(tst['STATUS'].map(data_usage_fill))
tst['DATA_USAGE_TIER'].isnull().sum()

In [ ]:
tst['DATA_USAGE_TIER'].value_counts()

In [ ]:
tst['TENURE_CATEGORY'] = tst['TENURE_CATEGORY'].fillna(tst['ACTIVE_DATE'].apply(tenure_from_date))
tst['TENURE_CATEGORY'] = tst['TENURE_CATEGORY'].fillna(tst['CHURN_FLAG'].apply(tenure_from_churn))
tst['TENURE_CATEGORY'] = tst['TENURE_CATEGORY'].fillna(tst['DATA_USAGE_TIER'].apply(tenure_from_data))
tst['TENURE_CATEGORY'] = tst['TENURE_CATEGORY'].fillna(tst['CUSTOMER_TENURE'].apply(tenure_from_customer))
tst['TENURE_CATEGORY'].isnull().sum()

In [ ]:
tst['TENURE_CATEGORY'].value_counts()

In [ ]:
tst['USER_CREATED_BY'] = tst['USER_CREATED_BY'].fillna(tst['DATA_USAGE_TIER'].map(user_from_data))
tst['USER_CREATED_BY'] = tst['USER_CREATED_BY'].fillna(tst['CUSTOMER_TENURE'].apply(user_from_tenure))
tst['USER_CREATED_BY'] = tst['USER_CREATED_BY'].fillna(tst['SEGMENT1'].map(user_from_segment))
tst['USER_CREATED_BY'] = tst['USER_CREATED_BY'].fillna(tst['CHURN_FLAG'].map(user_from_churn))
tst['USER_CREATED_BY'].isnull().sum()

In [ ]:
tst['USER_CREATED_BY'].value_counts()

In [ ]:
tst['STATUS_REASON'] = tst['STATUS_REASON'].fillna(tst['USER_CREATED_BY'].apply(reason_from_user))
tst['STATUS_REASON'].isnull().sum()

In [ ]:
tst['STATUS_REASON'] = tst['STATUS_REASON'].fillna(tst['USER_CREATED_BY'].apply(reason_from_user))
tst['STATUS_REASON'].isnull().sum()
  # at least 3 times, dk why it doesnt get rid of null right away.

In [ ]:
tst['STATUS_REASON'] = tst['STATUS_REASON'].fillna(tst['USER_CREATED_BY'].apply(reason_from_user))
tst['STATUS_REASON'].isnull().sum()

In [ ]:
tst['STATUS_REASON'] = tst['STATUS_REASON'].fillna(tst['USER_CREATED_BY'].apply(reason_from_user))
tst['STATUS_REASON'].isnull().sum()
  # last time.

In [ ]:
tst['STATUS_REASON'].value_counts()

In [ ]:
tst['DISTRIBUTER'] = tst['DISTRIBUTER'].fillna(tst['ACTIVE_DATE'].apply(dist_from_date))
tst['DISTRIBUTER'] = tst['DISTRIBUTER'].fillna(tst['SEGMENT2'].apply(dist_from_seg2))
tst['DISTRIBUTER'] = tst['DISTRIBUTER'].fillna(tst['SEGMENT1'].apply(dist_from_seg1))
tst['DISTRIBUTER'].isnull().sum()

In [ ]:
tst['DISTRIBUTER'].value_counts()

In [ ]:
tst.isnull().sum()

In [ ]:
fill_pos = tst.copy()

In [ ]:
fill_pos.isnull().sum()

In [ ]:
# Label Encoding - preparing for heatmap
fill_pos = fill_pos.drop('DEACTIVE_DATE', axis = 1)
fill_pos.isnull().sum()

In [ ]:
fill_pos = fill_pos.fillna('Unknown')
fill_pos.isnull().sum()
  # dropping ruins the corelation matrix.

In [ ]:
fill_pos['POS_MSISDN'].value_counts()

In [ ]:
fill_pos.info()

In [ ]:
cols = ['USER_CREATED_BY', 'POS_MSISDN', 'DISTRIBUTER', 'PLAN_NAME',
        'ACTIVE_DATE', 'TENURE_CATEGORY', 'STATUS',
        'STATUS_REASON', 'SEGMENT1', 'SEGMENT2', 'DATA_USAGE_TIER',
        'CUSTOMER_SEGMENT_CHANGE_FLAG']

for c in cols:
  fill_pos[c] = lbl.fit_transform(fill_pos[c])

# Libraries for heatmap
import seaborn as sns
import matplotlib.pyplot as plt

# Correlation
corr = fill_pos.corr()

# Plotting
plt.figure(figsize = (20, 15))
sns.heatmap(corr, annot = True, linewidth = 2)
  # linewidth just breaks apart the squares.
plt.show()

In [ ]:
# CO_ID = 0.38
# USER_CREATED_BY = 0.39
# STATUS = -0.41
# SEGMENT1 = -0.5
# SEGMENT2 = -0.43

In [ ]:
pos = tst.copy()
pos.isnull().sum()

In [ ]:
pos = pos.drop('DEACTIVE_DATE', axis = 1)
pos.info()

In [ ]:
pos.isnull().sum()

In [ ]:
null_pos_user = pos.loc[pos['POS_MSISDN'].isnull(), 'USER_CREATED_BY'].unique()
null_pos_user = np.sort(null_pos_user)
user_filtered = pos[pos['USER_CREATED_BY'].isin(null_pos_user)].groupby(['USER_CREATED_BY', 'POS_MSISDN'])
user_filtered['POS_MSISDN'].count()

In [ ]:
pos.loc[pos['USER_CREATED_BY'] == 'BJNN1810', 'POS_MSISDN'].nunique()

In [ ]:
pos['POS_MSISDN'].nunique()
# so user BJNN1810 has every POS_MSISDN at ~ equal numbers.
# use random choice.

In [ ]:
null_pos_status = pos.loc[pos['POS_MSISDN'].isnull(), 'STATUS'].unique()
null_pos_status = np.sort(null_pos_status)
status_filtered = pos[pos['STATUS'].isin(null_pos_status)].groupby(['STATUS', 'POS_MSISDN'])
status_filtered['POS_MSISDN'].count()

In [ ]:
null_pos_seg1 = pos.loc[pos['POS_MSISDN'].isnull(), 'SEGMENT1'].unique()
null_pos_seg1 = np.sort(null_pos_seg1)
seg1_filtered = pos[pos['SEGMENT1'].isin(null_pos_seg1)].groupby(['SEGMENT1', 'POS_MSISDN'])
seg1_filtered['POS_MSISDN'].count()

In [ ]:
pos.loc[pos['SEGMENT1'] == 'Prepaid', 'POS_MSISDN'].nunique()

In [ ]:
null_pos_seg2 = pos.loc[pos['POS_MSISDN'].isnull(), 'SEGMENT2'].unique()
null_pos_seg2 = np.sort(null_pos_seg2)
seg2_filtered = pos[pos['SEGMENT2'].isin(null_pos_seg2)].groupby(['SEGMENT2', 'POS_MSISDN'])
seg2_filtered['POS_MSISDN'].count()

In [ ]:
null_pos_msisdn = pos.loc[pos['POS_MSISDN'].isnull(), 'MSISDN'].unique()
null_pos_msisdn = np.sort(null_pos_msisdn)
msisdn_filtered = pos[pos['MSISDN'].isin(null_pos_msisdn)].groupby(['MSISDN', 'POS_MSISDN'])
msisdn_filtered['POS_MSISDN'].count()

In [ ]:
null_pos_cust = pos.loc[pos['POS_MSISDN'].isnull(), 'CUSTOMER_TENURE'].unique()
null_pos_cust = np.sort(null_pos_cust)
cust_filtered = pos[pos['CUSTOMER_TENURE'].isin(null_pos_cust)].groupby(['CUSTOMER_TENURE', 'POS_MSISDN'])
cust_filtered['POS_MSISDN'].count()

In [ ]:
null_pos_tenure = pos.loc[pos['POS_MSISDN'].isnull(), 'TENURE_CATEGORY'].unique()
null_pos_tenure = np.sort(null_pos_tenure)
tenure_filtered = pos[pos['TENURE_CATEGORY'].isin(null_pos_tenure)].groupby(['TENURE_CATEGORY', 'POS_MSISDN'])
tenure_filtered['POS_MSISDN'].count()

In [ ]:
# no clear relation
pos_values = pos['POS_MSISDN'].unique()
pos['POS_MSISDN'] = pos['POS_MSISDN'].fillna(rd.choice(pos_values))
pos['POS_MSISDN'].isnull().sum()

In [ ]:
cols = ['USER_CREATED_BY', 'POS_MSISDN', 'DISTRIBUTER', 'PLAN_NAME',
        'ACTIVE_DATE', 'TENURE_CATEGORY', 'STATUS',
        'STATUS_REASON', 'SEGMENT1', 'SEGMENT2', 'DATA_USAGE_TIER',
        'CUSTOMER_SEGMENT_CHANGE_FLAG']

for c in cols:
  pos[c] = lbl.fit_transform(pos[c])

# Libraries for heatmap
import seaborn as sns
import matplotlib.pyplot as plt

# Correlation
corr = pos.corr()

# Plotting
plt.figure(figsize = (20, 15))
sns.heatmap(corr, annot = True, linewidth = 2)
  # linewidth just breaks apart the squares.
plt.show()

In [ ]:
# going back to tst.
tst.isnull().sum()

In [ ]:
# no clear relation
pos_values = tst['POS_MSISDN'].unique()
tst['POS_MSISDN'] = tst['POS_MSISDN'].fillna(rd.choice(pos_values))
tst['POS_MSISDN'].isnull().sum()

In [ ]:
tst.isnull().sum()

In [ ]:
date = tst.copy()

In [ ]:
# filling bc dropping ruins matrix
date = date.fillna('Unknown')

In [ ]:
date.isnull().sum()

In [ ]:
cols = ['USER_CREATED_BY', 'POS_MSISDN', 'DISTRIBUTER', 'PLAN_NAME',
        'ACTIVE_DATE', 'DEACTIVE_DATE', 'TENURE_CATEGORY', 'STATUS',
        'STATUS_REASON', 'SEGMENT1', 'SEGMENT2', 'DATA_USAGE_TIER',
        'CUSTOMER_SEGMENT_CHANGE_FLAG']

for c in cols:
  date[c] = lbl.fit_transform(date[c])

# Libraries for heatmap
import seaborn as sns
import matplotlib.pyplot as plt

# Correlation
corr = date.corr()

# Plotting
plt.figure(figsize = (20, 15))
sns.heatmap(corr, annot = True, linewidth = 2)
  # linewidth just breaks apart the squares.
plt.show()

In [ ]:
date2 = tst.copy()

In [ ]:
date2.isnull().sum()

In [ ]:
# Observations:

''' MSISDN = 0.39
CUSTOMER_TENURE = 0.73
TENURE_CATEGORY = -0.56
CHURN_FLAG = -0.87
DATA_USAGE_TIER = -0.8 '''

In [ ]:
null_date_msisdn = date2.loc[date2['DEACTIVE_DATE'].isnull(), 'MSISDN'].unique()
null_date_msisdn = np.sort(null_date_msisdn)
msisdn_filtered = date2[date2['MSISDN'].isin(null_date_msisdn)].groupby(['MSISDN', 'DEACTIVE_DATE'])
msisdn_filtered['DEACTIVE_DATE'].count()

In [ ]:
null_date = date2.loc[date2['DEACTIVE_DATE'].isnull(), 'CUSTOMER_TENURE'].unique()
null_date = np.sort(null_date)
date_filtered = date2[date2['CUSTOMER_TENURE'].isin(null_date)].groupby(['CUSTOMER_TENURE', 'DEACTIVE_DATE'])
date_filtered['DEACTIVE_DATE'].count()

'''
74 >    10/23/2023       17
75 >    10/23/2023       10
89 >    11/13/2023       14
95 >    11/12/2023       46
100 >   11/18/2023       67
104 >
        11/18/2023       30
        11/21/2023       30
        11/22/2023       30
        11/24/2023       29
'''

In [ ]:
null_date = date2.loc[date2['DEACTIVE_DATE'].isnull(), 'TENURE_CATEGORY'].unique()
null_date = np.sort(null_date)
date_filtered = date2[date2['TENURE_CATEGORY'].isin(null_date)].groupby(['TENURE_CATEGORY', 'DEACTIVE_DATE'])
date_filtered['DEACTIVE_DATE'].count()

'''
Mid-term > 11/18/2023
Short-term > 10/22/2023
'''

In [ ]:
null_date = date2.loc[date2['DEACTIVE_DATE'].isnull(), 'CHURN_FLAG'].unique()
null_date = np.sort(null_date)
date_filtered = date2[date2['CHURN_FLAG'].isin(null_date)].groupby(['CHURN_FLAG', 'DEACTIVE_DATE'])
date_filtered['DEACTIVE_DATE'].count()

# 0: 10/22/2023
# 1: 10/22/2023, 10/30/2023

In [ ]:
null_date = date2.loc[date2['DEACTIVE_DATE'].isnull(), 'DATA_USAGE_TIER'].unique()
null_date = np.sort(null_date)
date_filtered = date2[date2['DATA_USAGE_TIER'].isin(null_date)].groupby(['DATA_USAGE_TIER', 'DEACTIVE_DATE'])
date_filtered['DEACTIVE_DATE'].count()

# Medium: 10/22/2023, 10/30/2023

In [ ]:
null_date = date2.loc[date2['DEACTIVE_DATE'].isnull(), 'SEGMENT1'].unique()
null_date = np.sort(null_date)
date_filtered = date2[date2['SEGMENT1'].isin(null_date)].groupby(['SEGMENT1', 'DEACTIVE_DATE'])
date_filtered['DEACTIVE_DATE'].count()

'''
Postpaid > 10/22/2023
Prepaid > 10/31/2023
'''

In [ ]:
null_date = date2.loc[date2['DEACTIVE_DATE'].isnull(), 'SEGMENT2'].unique()
null_date = np.sort(null_date)
date_filtered = date2[date2['SEGMENT2'].isin(null_date)].groupby(['SEGMENT2', 'DEACTIVE_DATE'])
date_filtered['DEACTIVE_DATE'].count()

# Corporate: 10/22/2023
# PRO: 10/30/2023
# Resedential: 9/29/2023, 9/14/2023 8/31/2023, 11/18/2023, 11/14/2023, 10/31/2023, 10/12/2023

In [ ]:
def deactive_from_flag(flag):
  if flag == 0:
    return '10/22/2023'
  else:
    rd.choice(['10/22/2023', '10/30/2023'])

def deactive_from_data(data):
  if data == 'Medium':
    rd.choice(['10/22/2023', '10/30/2023'])

def deactive_from_tenure(tenure):
  if tenure == 'Short-term':
    return '10/22/2023'
  elif tenure == 'Mid-term':
    return '11/18/2023'

def deactive_from_customer(customer):
  if customer == 74 or customer == 75:
    return '10/23/2023'
  elif customer == 89:
    return '11/13/2023'
  elif customer == 95:
    return '11/12/2023'
  elif customer == 100:
    return '11/18/2023'
  elif customer == 104:
    return rd.choice(['11/18/2023',
                      '11/21/2023',
                      '11/22/2023',
                      '11/24/2024'])

def deactive_from_segment1(seg1):
  if seg1 == 'Postpaid':
    return '10/22/2023'
  elif seg1 == 'Prepaid':
    return '10/31/2023'

def deactive_from_segment2(seg2):
  if seg2 == 'Corporate':
    return '10/22/2023'
  elif seg2 == 'PRO':
    return '10/30/2023'
  elif seg2 == 'Resedential':
    return rd.choice(['9/29/2023',
                      '9/14/2023',
                      '8/31/2023',
                      '11/18/2023',
                      '11/14/2023',
                      '10/31/2023',
                      '10/12/2023'])

In [ ]:
date2 = tst.copy()

In [ ]:
date2['DEACTIVE_DATE'] = date2['DEACTIVE_DATE'].fillna(date2['CHURN_FLAG'].apply(deactive_from_flag))
date2['DEACTIVE_DATE'].isnull().sum()

In [ ]:
date2['DEACTIVE_DATE'] = date2['DEACTIVE_DATE'].fillna(date2['SEGMENT2'].apply(deactive_from_segment2))
date2['DEACTIVE_DATE'].isnull().sum()

In [ ]:
date2['DEACTIVE_DATE'] = date2['DEACTIVE_DATE'].fillna(date2['DATA_USAGE_TIER'].apply(deactive_from_data))
date2['DEACTIVE_DATE'].isnull().sum()

In [ ]:
date2['DEACTIVE_DATE'] = date2['DEACTIVE_DATE'].fillna(date2['TENURE_CATEGORY'].apply(deactive_from_tenure))
date2['DEACTIVE_DATE'].isnull().sum()

In [ ]:
date2['DEACTIVE_DATE'] = date2['DEACTIVE_DATE'].fillna(date2['CUSTOMER_TENURE'].apply(deactive_from_customer))
date2['DEACTIVE_DATE'].isnull().sum()

In [ ]:
date2['DEACTIVE_DATE'] = date2['DEACTIVE_DATE'].fillna(date2['SEGMENT1'].apply(deactive_from_segment1))
date2['DEACTIVE_DATE'].isnull().sum()

In [ ]:
date2.isnull().sum()

In [ ]:
for c in cols:
  date2[c] = lbl.fit_transform(date2[c])

# Correlation
corr = date2.corr()

# Plotting
plt.figure(figsize = (20, 15))
sns.heatmap(corr, annot = True, linewidth = 2)
  # linewidth just breaks apart the squares.
plt.show()

In [ ]:
tst.head(10)

In [ ]:
tst.isnull().sum()

In [ ]:
tst['DEACTIVE_DATE'] = tst['DEACTIVE_DATE'].fillna(tst['CHURN_FLAG'].apply(deactive_from_flag))
tst['DEACTIVE_DATE'] = tst['DEACTIVE_DATE'].fillna(tst['SEGMENT2'].apply(deactive_from_segment2))
tst['DEACTIVE_DATE'] = tst['DEACTIVE_DATE'].fillna(tst['DATA_USAGE_TIER'].apply(deactive_from_data))
tst['DEACTIVE_DATE'] = tst['DEACTIVE_DATE'].fillna(tst['TENURE_CATEGORY'].apply(deactive_from_tenure))
tst['DEACTIVE_DATE'] = tst['DEACTIVE_DATE'].fillna(tst['CUSTOMER_TENURE'].apply(deactive_from_customer))
tst['DEACTIVE_DATE'] = tst['DEACTIVE_DATE'].fillna(tst['SEGMENT1'].apply(deactive_from_segment1))

In [ ]:
tst.isnull().sum().sum()

In [ ]:
cleandf = tst.copy()

In [ ]:
cleandf.isnull().sum()

In [ ]:
cleandf.info()

In [ ]:
cleandf['DEACTIVE_DATE'].value_counts()

In [ ]:
cleandf['DEACTIVE_DATE'] = pd.to_datetime(cleandf['DEACTIVE_DATE'], format = '%m/%d/%Y')

In [ ]:
cleandf['DEACTIVE_DATE'].head(10)

In [ ]:
# MODELING

cleandf.info()

In [ ]:
cleandf['STATUS'].value_counts()
  # one hot encoder

In [ ]:
cleandf['STATUS_REASON'].value_counts()
  # one hot encoder

In [ ]:
cleandf['SEGMENT1'].value_counts()
  # one hot encoder

In [ ]:
cleandf['SEGMENT2'].value_counts()
  # one hot encoder

In [ ]:
cleandf['DATA_USAGE_TIER'].value_counts()
  # one hot encoder

In [ ]:
cleandf['CUSTOMER_SEGMENT_CHANGE_FLAG'].value_counts()
  # one hot encoder

In [ ]:
# rest get label encoder - too many values.

In [ ]:
df2 = cleandf.copy()

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
oh = OneHotEncoder()

df2 = pd.get_dummies(df, columns = ['USER_CREATED_BY', 'POS_MSISDN', 'DISTRIBUTER', 'PLAN_NAME',
        'ACTIVE_DATE', 'DEACTIVE_DATE', 'TENURE_CATEGORY', 'STATUS',
        'STATUS_REASON', 'SEGMENT1', 'SEGMENT2', 'DATA_USAGE_TIER',
        'CUSTOMER_SEGMENT_CHANGE_FLAG'])

df2.head(10)

In [ ]:
df.info()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# numerical columns.
ncols = ['CUSTOMER_TENURE', 'CHURN_FLAG',
         'CUSTOMER_INTERACTION_SCORE', 'LOYALTY_POINTS']

plt.figure(figsize = (15, 10))
for i, col in enumerate(ncols, 1):
  plt.subplot(2, 2, i)
  sns.histplot(df[col], kde = True)
  plt.title(f'Distribution of {col}')
  plt.tight_layout()

plt.show()

In [ ]:
''' numbers with a BIG range = bias in models (2 P's)
  - use STANDARDIZATION (mean = 0, sd = 1, MFC)
  - assume data is [semi] normal distribution

if UNRELATING to NORMAL DISTRIBUTION
  - use normalization (values from 0 - 1)

if skewed, use LOG TRANSFORMATION
  - var > how far each val is far from mean
  - log decreases the var values, gap decreases
  - smaller = better, identical or more accurate, usable '''

# CO_ID is more like categorical, won't apply.
# CHURN_FLAG is only 0s and 1s, won't apply.
# CUSTOMER_INTERACTION_SCORE small range (1-10), won't apply
# LOYALTY_POINTS =~ normal, standardization

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df2[['LOYALTY_POINTS']] = scaler.fit_transform(df2[['LOYALTY_POINTS']])
df2.head()

In [ ]:
df2.info()

In [ ]:
df2.head()

In [ ]:
# Splitting Data

from sklearn.model_selection import train_test_split
X = df2.drop('SEGMENT1_Prepaid', axis = 1) # all cols besides Segment1
Y = df2['SEGMENT1_Prepaid'] # only Segment1

# splitting: 1/3 testing & 2/3 training
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 1, stratify = Y)
  # note: *stratify* eliminates bias: maintaining equal distribution

# shape for verification
X_train.shape, Y_train.shape, X_test.shape, Y_test.shape

In [ ]:
X_train.shape[0] # number of samples

In [ ]:
# KNN
from sklearn.neighbors import KNeighborsClassifier
import math

# object
k_value = list(range(1, 21, 4))
for k in k_value:
  knn = KNeighborsClassifier(n_neighbors = k)

# training knn
  knn.fit(X_train, Y_train)

  Ypred_knn = knn.predict(X_test)

In [ ]:
knn_result = pd.DataFrame({'Original': Y_test, 'Predicted': Ypred_knn})
knn_result.to_csv(f'out.csv')

In [ ]:
print(f'Sample of KNN Predictions: \n\n{knn_result.head(10)}')

In [ ]:
# KNN Accuracy
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import confusion_matrix

for k in k_value:
  knn_accuracy = accuracy_score(Y_test, Ypred_knn)
  knn_precision = precision_score(Y_test, Ypred_knn)
  knn_recall = recall_score(Y_test, Ypred_knn)
  knn_f1 = f1_score(Y_test, Ypred_knn)
  knn_matrix = confusion_matrix(Y_test, Ypred_knn)

  print(f'KNN Prediction of Segment1_Prepaid k = {k}\n\n'
    f'Accuracy: {knn_accuracy}\n'
    f'Precision: {knn_precision}\n'
    f'Recall: {knn_recall}\n'
    f'F1: {knn_f1}\n'
    f'Confusion Matrix:\n {knn_matrix}\n')

In [ ]:
# Decision Tree
from sklearn.tree import DecisionTreeClassifier

# object
dt = DecisionTreeClassifier()

# training Decision Tree
dt.fit(X_train, Y_train)

# predicting
Ypred_dt = dt.predict(X_test)

In [ ]:
dt_result = pd.DataFrame({'Original': Y_test, 'Predicted': Ypred_dt})
dt_result.to_csv(f'out.csv')

In [ ]:
print(f'Sample of Decision Tree Predictions: \n\n{dt_result.head(10)}')

In [ ]:
dt_accuracy = accuracy_score(Y_test, Ypred_dt)
dt_precision = precision_score(Y_test, Ypred_dt)
dt_recall = recall_score(Y_test, Ypred_dt)
dt_f1 = f1_score(Y_test, Ypred_dt)
dt_matrix = confusion_matrix(Y_test, Ypred_dt)

print(f'Decision Tree Prediction of Segment1_Prepaid\n\n\
Accuracy: {dt_accuracy}\n\
Precision: {dt_precision}\n\
Recall: {dt_recall}\n\
F1: {dt_f1}\n\
Confusion Matrix: \n{dt_matrix}')

In [ ]:
'''
F1 score: geometric avg
Recall: FN is high (0, when truly it's 1)
CONFUSION MATRIX: [[TN (0, 0), FP (1, 0)]
                  [FN (0, 1), TP (1, 1)]]
'''

In [ ]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier

# object
rf = RandomForestClassifier()

# training
rf.fit(X_train, Y_train)

# predicting
Ypred_rf = rf.predict(X_test)

In [ ]:
rf_result = pd.DataFrame({'Original': Y_test, 'Predicted': Ypred_rf})
rf_result.to_csv(f'out.csv')

In [ ]:
print(f'Sample of Random Forest Predictions: \n\n{rf_result.head(10)}')

In [ ]:
rf_accuracy = accuracy_score(Y_test, Ypred_rf)
rf_precision = precision_score(Y_test, Ypred_rf)
rf_recall = recall_score(Y_test, Ypred_rf)
rf_f1 = f1_score(Y_test, Ypred_rf)
rf_matrix = confusion_matrix(Y_test, Ypred_rf)

print(f'Random Forest Prediction of Segment1_Prepaid\n\n\
Accuracy: {rf_accuracy}\n\
Precision: {rf_precision}\n\
Recall: {rf_recall}\n\
F1: {rf_f1}\n\
Confusion Matrix: \n{rf_matrix}')

In [ ]:
# MODEL VISUALIZATION: RADAR

subject = ['Accuracy', 'Precision', 'Recall', 'F1']
knn = [0.9255485893416928, 0.9621513944223108, 0.9104618284637135, 0.9355932203389831]
dt = [1, 1, 1, 1]
rf = [1, 1, 1, 1]

# angles in radians
angle = np.linspace(0, 2*np.pi, len(subject), endpoint = False)

# 1st angle for circle
angle = np.concatenate((angle, [angle[0]]))

# append
subject.append(subject[0])
knn.append(knn[0])
dt.append(knn[0])
rf.append(rf[0])

# radar chart plotting
plt.subplot(polar = True)
plt.plot(angle, knn, 'o--', color = 'g', label = 'knn')
plt.plot(angle, dt, 'o--', color = 'b', label = 'dt')
plt.plot(angle, rf, 'o--', color = 'r', label = 'rf')
plt.tight_layout()
plt.legend()
plt.show()

In [ ]:
# BOX PLOT

knn = [0.9255485893416928, 0.9621513944223108, 0.9104618284637135, 0.9355932203389831]
dt = [1.0000, 1.0000, 1.0000, 1.0000]
rf = [1.0000, 1.0000, 1.0000, 1.0000]

data = [knn, dt, rf]
plt.boxplot(data, labels = ['KNN', 'DT', 'RF'])
plt.show()

In [ ]:
# BAR CHART, Accuracy

ml = ['KNN', 'DT', 'RF']
accuracy = [0.92554858934169288 * 100, 100, 100]

# creating
plt.bar(ml, accuracy, color = 'green', width = 0.4)

# labels
plt.xlabel('ML Model')
plt.ylabel('Accuracy %')
plt.title('Accuracy of ML')
plt.show()

In [ ]:
# BAR CHART, Precision

ml = ['KNN', 'DT', 'RF']
precision = [0.9621513944223108 * 100, 100, 100]

# creating
plt.bar(ml, precision, color = 'orange', width = 0.4)

# labels
plt.xlabel('ML Model')
plt.ylabel('Precision %')
plt.title('Precision of ML')
plt.show()

In [ ]:
# BAR CHART, Recall

ml = ['KNN', 'DT', 'RF']
recall = [0.9104618284637135 * 100, 100, 100]

# creating
plt.bar(ml, recall, color = 'red', width = 0.4)

# labels
plt.xlabel('ML Model')
plt.ylabel('Recall %')
plt.title('Recall of ML')
plt.show()

In [ ]:
# BAR CHART, F1

ml = ['KNN', 'DT', 'RF']
f1 = [0.9355932203389831 * 100, 100, 100]

# creating
plt.bar(ml, f1, color = 'pink', width = 0.4)

# labels
plt.xlabel('ML Model')
plt.ylabel('F1 %')
plt.title('Accuracy of ML')
plt.show()